
FFNN/FFNN_1301p2\.mat

FFNN/PPS_train_scenario1_FFNN_p2_v2\.mat

FFNN/backprop_learning_scenario1_FFNN_p2_v2\.mat

FFNN/ready_FFNN_scenario1_FFNN_p2_v2\.mat

RBM/RBM_vis_velocity_scen1_FFNN_p1ep60\.mat

RBM/vis_veloc_train_scen1_FFNN\.mat
